<span class="title"><%= title %></span>
<time class="time" datetime="<%= date %>"><%= newDate.year %>.<%= newDate.month %>.<%= newDate.day %>
	<span class="hour"><%= newDate.hour %>:<%= newDate.minute %></span>
</time>
<button id="delete" class="icon delete">&#59177;</button>